@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:wght@300&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

body {
  background-color: #BBE8FF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23D9F1FF'/%3E%3Cstop offset='1' stop-color='%23BBE8FF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23caedff'/%3E%3Cstop offset='1' stop-color='%23BBE8FF'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}
body header p, body main p, body footer p {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 480px) {
  * {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  * {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  * {
    font-size: 45px;
  }
}
@media screen and (min-width: 1200px) {
  * {
    font-size: 60px;
  }
}
header {
  position: fixed;
  width: 100%;
  display: flex;
  transition: 0.7s;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
  z-index: 1;
}
header .logo {
  display: flex;
  cursor: pointer;
}
header .logo img {
  width: 2em;
  height: 2em;
  transition: all 0.3s;
}
header .logo img:hover {
  transform: scale(1.2);
}
header .perfil {
  cursor: pointer;
}
header .perfil img {
  width: 2em;
  height: 2em;
  transition: all 0.3s;
}
header .perfil img:hover {
  transform: scale(1.2);
}
header .perfilf {
  display: none;
  margin: 15px 0;
  z-index: 2;
  cursor: pointer;
}
header .perfilf img {
  width: 2em;
  height: 2em;
  transition: all 0.3s;
}
header .perfilf img:hover {
  transform: scale(1.2);
}
header .nav {
  position: absolute;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: end;
  top: 0;
  right: -280px;
  background-color: #133058;
  padding: 2em;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  transition: 1s;
}
header .nav .cabecera {
  position: absolute;
  padding: 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav .nav-list {
  padding: 0;
  margin-top: 20%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2em;
}
header .nav .nav-list li:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
header .nav .nav-list li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #eef9ff;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.7s;
}
header .nav .nav-list li a:hover {
  color: #ffbc0e;
  transition: all 0.3s;
}
header .abrir-menu, header .cerrar-menu {
  display: block;
  border: 0;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
}
header .abrir-menu i, header .cerrar-menu i {
  font-size: 2em;
  color: #eef9ff;
  transition: 0.1s;
}
header .abrir-menu i:hover {
  font-size: 2.2em;
  color: #ffbc0e;
}
header .cerrar-menu i:hover {
  font-size: 2.2em;
  color: #721009;
}
header.abajo {
  background-color: rgba(18, 113, 227, 0.8);
  padding: 15px 10px;
}
header.abajo .nav-list li a {
  color: #eef9ff;
}
header .nav.visible {
  opacity: 1;
  transform: translate(-280px, 0);
  visibility: visible;
}

@media screen and (min-width: 480px) {
  header {
    padding: 30px 10px;
  }
  header.abajo {
    padding: 25px 15px;
  }
}
@media screen and (min-width: 768px) {
  header.abajo {
    padding: 30px 10px;
  }
  header .logo {
    z-index: 2;
  }
  header .abrir-menu,
  header .cerrar-menu {
    display: none;
  }
  header .nav {
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    box-shadow: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header .nav .perfil {
    display: none;
  }
  header .nav .nav-list {
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header .nav .nav-list li a {
    margin: 0;
    font-size: 0.7em;
  }
  header .perfilf {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding: 30px 20px;
  }
  header.abajo {
    padding: 40px 35px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    padding: 40px 25px;
  }
  header.abajo {
    padding: 45px 35px;
  }
  header .nav .nav-list {
    margin: 0 20px;
  }
}
@media screen and (max-height: 400px) and (max-width: 767px) {
  header .nav .nav-list {
    margin-top: 10%;
    gap: 0.8em;
  }
}
.pie {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-top: 1px solid #04152b;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1271e3;
}
.pie .ubicacion, .pie .contactos, .pie .preguntas {
  padding: 5px;
  text-align: center;
  font-size: 20px;
}
.pie .contactos a {
  padding: 0 0.6em;
  font-size: 20px;
}
.pie .contactos a#whatsapp:hover i {
  font-size: 1.2em;
  color: #128C7E;
}
.pie .contactos a#instagram:hover i {
  font-size: 1.2em;
  color: #C13584;
}
.pie .contactos a#github:hover i {
  font-size: 1.2em;
  color: #171515;
}
.pie .contactos a i {
  font-size: 1em;
  color: #eef9ff;
  transition: 0.3s;
}
.pie p:not(#dire) {
  font-size: 1.2em;
  color: #ffbc0e;
  padding: 5px;
  font-weight: 600;
}
.pie p#dire {
  font-size: 1em;
  color: #eef9ff;
}
.pie a#link {
  font-size: 1em;
  color: #eef9ff;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .pie {
    position: relative;
    height: fit-content;
    padding: 30px;
    flex-direction: row;
    justify-content: space-around;
  }
  .pie .ubicacion, .pie .contactos, .pie .preguntas {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .pie {
    font-size: 30px;
  }
  .pie .ubicacion, .pie .contactos, .pie .preguntas {
    font-size: 1em;
  }
  .pie .contactos a {
    font-size: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .pie {
    font-size: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .pie {
    font-size: 40px;
  }
}
.index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index .fondo_Index {
  z-index: -1;
  display: flex;
  width: 100vw;
  height: 70vh;
  min-height: 280px;
  max-height: 320px;
  background-image: url(../assets/Img/Fondo_Index.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: center;
  align-items: end;
  margin-bottom: 1em;
}
.index .fondo_Index h1 {
  font-size: 2rem;
  font-style: italic;
  color: #ffbc0e;
}
.index .comenzar {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index .comenzar button {
  position: relative;
  width: 180px;
  height: 50px;
  background: linear-gradient(0deg, #30a6ff, #57c4ff);
  border: none;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #eef9ff;
  transition: 0.3s;
}
.index .comenzar button:hover {
  transform: scale(1.2);
  color: #ffbc0e;
}
.index .comenzar button:hover a {
  color: #ffbc0e;
}
.index .comenzar button a {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (min-width: 480px) {
  .index .fondo_Index {
    min-height: 460px;
    max-height: 500px;
  }
  .index .comenzar {
    height: 100px;
  }
  .index .comenzar button {
    position: relative;
    width: 250px;
    height: 80px;
    background: linear-gradient(0deg, #30a6ff, #57c4ff);
    border: none;
    border-radius: 10px;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #eef9ff;
    transition: 0.3s;
  }
  .index .comenzar button:hover {
    transform: scale(1.2);
    color: #ffbc0e;
  }
}
@media screen and (min-width: 768px) {
  .index .fondo_Index {
    min-height: 600px;
    max-height: 650px;
  }
  .index .comenzar button {
    width: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .index .fondo_Index {
    width: 100%;
    height: 100%;
    min-height: 650px;
    max-height: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .index .fondo_Index {
    min-height: 800px;
    max-height: 850px;
  }
  .index .comenzar button {
    width: 450px;
    height: 100%;
  }
}
.sobre_nosotros {
  padding: 5px;
}
.sobre_nosotros .heading {
  width: 100%;
  height: 2rem;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 5px;
}
.sobre_nosotros .heading h1 {
  font-size: 1em;
  font-weight: 600;
  color: #00131f;
  border-bottom: 3px solid #ffbc0e;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 480px) {
  .sobre_nosotros .heading {
    font-size: 45px;
  }
}
@media screen and (min-width: 768px) {
  .sobre_nosotros .heading {
    padding-top: 0px;
    font-size: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .sobre_nosotros .heading {
    font-size: 70px;
  }
}
.sobre_nosotros .somos, .sobre_nosotros .equipo, .sobre_nosotros .historia {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1500px;
  margin: auto;
  margin-top: 1rem;
  padding: 10px;
  background-color: #8ddbff;
  border-radius: 10px;
  font-size: 25px;
}
.sobre_nosotros .somos img, .sobre_nosotros .equipo img, .sobre_nosotros .historia img {
  border-radius: 5px;
  border: 0.5px solid #00131f;
}
.sobre_nosotros .somos .texto, .sobre_nosotros .equipo .texto, .sobre_nosotros .historia .texto {
  width: fit-content;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: 500;
  background-color: #bbe8ff;
  gap: 0.1em;
  border-radius: 5px;
}
.sobre_nosotros .somos .texto .subtitulo, .sobre_nosotros .equipo .texto .subtitulo, .sobre_nosotros .historia .texto .subtitulo {
  font-size: 1em;
  color: #00131f;
}
.sobre_nosotros .somos .texto .descripcion, .sobre_nosotros .equipo .texto .descripcion, .sobre_nosotros .historia .texto .descripcion {
  font-size: 0.6em;
  color: #00131f;
}
.sobre_nosotros .somos .texto .descripcion .oculto, .sobre_nosotros .equipo .texto .descripcion .oculto, .sobre_nosotros .historia .texto .descripcion .oculto {
  font-size: 1em;
  display: none;
}
.sobre_nosotros .somos .texto .descripcion .mostrar, .sobre_nosotros .equipo .texto .descripcion .mostrar, .sobre_nosotros .historia .texto .descripcion .mostrar {
  display: block;
}
.sobre_nosotros .somos .texto .mas, .sobre_nosotros .equipo .texto .mas, .sobre_nosotros .historia .texto .mas {
  position: relative;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(0deg, #30a6ff, #57c4ff);
  border: none;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #eef9ff;
  transition: 0.3s;
  padding: 5px 10px;
}
.sobre_nosotros .somos .texto .mas:hover, .sobre_nosotros .equipo .texto .mas:hover, .sobre_nosotros .historia .texto .mas:hover {
  transform: scale(1.2);
  color: #ffbc0e;
}

@media screen and (min-width: 480px) {
  .sobre_nosotros .somos, .sobre_nosotros .equipo, .sobre_nosotros .historia {
    font-size: 35px;
  }
  .sobre_nosotros .somos .texto .mas, .sobre_nosotros .equipo .texto .mas, .sobre_nosotros .historia .texto .mas {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .sobre_nosotros img {
    max-width: 350px;
    max-height: 230px;
  }
  .sobre_nosotros .somos, .sobre_nosotros .equipo, .sobre_nosotros .historia {
    font-size: 35px;
    flex-direction: row;
  }
  .sobre_nosotros .somos .texto, .sobre_nosotros .equipo .texto, .sobre_nosotros .historia .texto {
    display: flex;
    flex-direction: column;
    align-items: self-start;
  }
  .sobre_nosotros .equipo {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1024px) {
  .sobre_nosotros img {
    max-width: 450px;
    max-height: 300px;
  }
  .sobre_nosotros .somos, .sobre_nosotros .equipo, .sobre_nosotros .historia {
    font-size: 40px;
  }
  .sobre_nosotros .somos .texto .mas, .sobre_nosotros .equipo .texto .mas, .sobre_nosotros .historia .texto .mas {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .sobre_nosotros img {
    max-width: 500px;
  }
  .sobre_nosotros .somos .texto .descripcion .oculto, .sobre_nosotros .equipo .texto .descripcion .oculto, .sobre_nosotros .historia .texto .descripcion .oculto {
    display: block;
  }
  .sobre_nosotros .somos .texto .mas, .sobre_nosotros .equipo .texto .mas, .sobre_nosotros .historia .texto .mas {
    display: none;
  }
}
.experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.experiencia .heading {
  width: 100%;
  height: 2rem;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 5px;
}
.experiencia .heading h1 {
  font-size: 1em;
  font-weight: 600;
  color: #00131f;
  border-bottom: 3px solid #ffbc0e;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 480px) {
  .experiencia .heading {
    font-size: 45px;
  }
}
@media screen and (min-width: 768px) {
  .experiencia .heading {
    padding-top: 0px;
    font-size: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .experiencia .heading {
    font-size: 70px;
  }
}
.experiencia .contenedor-grid {
  margin-top: 10px;
  width: 100%;
  font-size: 1em;
  display: grid;
  justify-content: center;
}
.experiencia .contenedor-grid .caja {
  width: 100%;
  height: fit-content;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}
.experiencia .contenedor-grid .caja .subtitulo {
  font-size: 1em;
  align-self: flex-start;
}
.experiencia .contenedor-grid .caja .subtitulo h2 {
  font-style: italic;
  font-size: 1.1em;
  font-weight: 600;
}
.experiencia .contenedor-grid .comentarios {
  align-items: center;
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel {
  position: relative;
  width: 90vw;
  height: fit-content;
  overflow: hidden;
  font-size: 1em;
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel {
  width: 400%;
  height: 100%;
  display: flex;
  font-size: 1em;
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .capitan, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .azafata {
  width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .img, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .capitan .img, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .azafata .img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 150px;
  display: flex;
  justify-content: center;
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .img img, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .capitan .img img, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .azafata .img img {
  width: 70%;
  border-radius: 50%;
  border: 1px solid #00131f;
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario p, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .capitan p, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .azafata p {
  font-size: 0.9em;
  color: #00131f;
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .estrellas, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .capitan .estrellas, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .azafata .estrellas {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  gap: 0.2em;
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .estrellas i.star, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .capitan .estrellas i.star, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .azafata .estrellas i.star {
  font-size: 1em;
  color: #ffbc0e;
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .opinion, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .capitan .opinion, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .azafata .opinion {
  width: 100%;
  max-width: 350px;
  position: relative;
  margin-top: 10px;
  padding: 5px;
  font-size: 1em;
  background-color: #eef9ff;
  border-radius: 10px;
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .opinion::before, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .capitan .opinion::before, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .azafata .opinion::before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #eef9ff;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .opinion p, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .capitan .opinion p, .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .azafata .opinion p {
  font-size: 0.6em;
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .btn-izquierda,
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .btn-derecha {
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #00131f;
  transform: translate(0, -50%);
  transition: 0.5s ease;
  user-select: none;
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .btn-izquierda:hover,
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .btn-derecha:hover {
  background-color: #8ddbff;
  color: #eef9ff;
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .btn-izquierda {
  left: 10px;
}
.experiencia .contenedor-grid .comentarios .contenedor-carrusel .btn-derecha {
  right: 10px;
}
.experiencia .contenedor-grid .valoraciones .contenedor-puntuacion {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 1em;
}
.experiencia .contenedor-grid .valoraciones .contenedor-puntuacion .numeros {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1em;
}
.experiencia .contenedor-grid .valoraciones .contenedor-puntuacion .numeros .promedio {
  align-self: center;
  font-size: 2.5em;
  font-weight: 600;
}
.experiencia .contenedor-grid .valoraciones .contenedor-puntuacion .numeros .estrellas {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  gap: 0.2em;
}
.experiencia .contenedor-grid .valoraciones .contenedor-puntuacion .numeros .estrellas i {
  font-size: 1em;
}
.experiencia .contenedor-grid .valoraciones .contenedor-puntuacion .numeros .estrellas i.star {
  font-size: 1em;
  color: #ffbc0e;
}
.experiencia .contenedor-grid .valoraciones .contenedor-puntuacion .numeros .total {
  font-size: 0.8em;
}
.experiencia .contenedor-grid .valoraciones .contenedor-puntuacion .estadisticas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1em;
}
.experiencia .contenedor-grid .valoraciones .contenedor-puntuacion .estadisticas .progress {
  height: 15%;
  min-height: 15px;
  max-height: 45px;
}
.experiencia .contenedor-grid .experiencias {
  margin: 0;
}
.experiencia .contenedor-grid .experiencias .contenedor-opinion {
  display: flex;
  flex-direction: column;
}
.experiencia .contenedor-grid .experiencias .contenedor-opinion p {
  padding: 5px;
  font-size: 0.8em;
  font-weight: 600;
}
.experiencia .contenedor-grid .experiencias .contenedor-opinion .estrellas {
  padding-left: 6px;
  color: #eef9ff;
  font-size: 0.9em;
  cursor: pointer;
}
.experiencia .contenedor-grid .experiencias .contenedor-opinion .estrellas .star.checked {
  color: #ffbc0e;
}
.experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 10px;
  font-size: 1em;
}
.experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox {
  font-size: 0.6em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox label {
  align-self: self-start;
  font-size: 1em;
  color: #00131f;
  font-weight: 600;
}
.experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox input, .experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox select {
  width: 100%;
  padding: 5px;
  outline: none;
  font-size: 1em;
  color: #eef9ff;
  border-radius: 5px;
  background: rgba(121, 221, 255, 0.8);
  box-shadow: inset 0 0 15px rgba(50, 205, 254, 0.75);
  border: 1px solid rgba(7, 183, 240, 0.5);
}
.experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox input::placeholder, .experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox select::placeholder {
  color: rgba(7, 183, 240, 0.75);
}
.experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox textarea {
  width: 100%;
  height: 15vh;
  min-height: 120px;
  max-height: 150px;
  border: 1px solid #00131f;
}
.experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox #btn {
  position: relative;
  width: 60%;
  height: "";
  background: linear-gradient(0deg, #30a6ff, #57c4ff);
  border: none;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 500;
  color: #eef9ff;
  transition: 0.3s;
  max-width: 180px;
  align-self: flex-end;
}
.experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox #btn:hover {
  transform: scale(1.2);
  color: #ffbc0e;
}

@media screen and (min-width: 480px) {
  .experiencia .contenedor-grid {
    margin-top: 20px;
  }
  .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel {
    width: 200%;
  }
  .experiencia .contenedor-grid .comentarios .contenedor-carrusel .btn-izquierda,
  .experiencia .contenedor-grid .comentarios .contenedor-carrusel .btn-derecha {
    top: 40%;
  }
}
@media screen and (min-width: 768px) {
  .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .img {
    max-width: 250px;
    max-height: 180px;
  }
  .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .estrellas i {
    font-size: 0.7em;
  }
  .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .estrellas i.star {
    font-size: 0.7em;
  }
  .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .opinion {
    max-width: 420px;
    margin-top: 5px;
  }
  .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .opinion p {
    font-size: 0.5em;
  }
}
@media screen and (min-width: 1024px) {
  .experiencia .contenedor-grid {
    margin-top: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .experiencia .contenedor-grid .comentarios {
    grid-column: 1/4;
  }
  .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel {
    width: 135%;
  }
  .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .estrellas i {
    font-size: 0.7em;
  }
  .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .estrellas i.star {
    font-size: 0.7em;
  }
  .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .opinion {
    max-width: 420px;
    margin-top: 5px;
  }
  .experiencia .contenedor-grid .comentarios .contenedor-carrusel .carrusel .usuario .opinion p {
    font-size: 0.4em;
  }
  .experiencia .contenedor-grid .valoraciones {
    padding-right: 10px;
  }
  .experiencia .contenedor-grid .experiencias {
    width: 50vw;
    padding: 10px;
  }
  .experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox {
    font-size: 0.6em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox label {
    align-self: self-start;
    font-size: 1em;
    color: #00131f;
    font-weight: 600;
  }
  .experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox input, .experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox select {
    width: 100%;
    padding: 5px;
    outline: none;
    font-size: 1em;
    color: #eef9ff;
    border-radius: 5px;
    background: rgba(121, 221, 255, 0.8);
    box-shadow: inset 0 0 15px rgba(50, 205, 254, 0.75);
    border: 1px solid rgba(7, 183, 240, 0.5);
  }
  .experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox input::placeholder, .experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox select::placeholder {
    color: rgba(7, 183, 240, 0.75);
  }
  .experiencia .contenedor-grid .experiencias .contenedor-opinion .formulario .inputbox #btn {
    max-width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .experiencia .contenedor-grid {
    margin-top: 10px;
  }
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 35px;
}
.login .heading {
  width: 100%;
  height: 2rem;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 5px;
}
.login .heading h1 {
  font-size: 1em;
  font-weight: 600;
  color: #00131f;
  border-bottom: 3px solid #ffbc0e;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 480px) {
  .login .heading {
    font-size: 45px;
  }
}
@media screen and (min-width: 768px) {
  .login .heading {
    padding-top: 0px;
    font-size: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .login .heading {
    font-size: 70px;
  }
}
.login .contenedor {
  font-size: 1em;
  display: flex;
}
.login .contenedor .img-login {
  display: none;
}
.login .contenedor .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(-45deg, #bbe8ff, #8ddbff);
  padding: 5px;
  margin-top: 10px;
  gap: 20px;
  border: 2px solid #33c0fd;
  border-radius: 20px;
  font-size: 1em;
}
.login .contenedor .formulario img {
  max-width: 200px;
}
.login .contenedor .formulario h2 {
  text-align: center;
  font-size: 1em;
  color: #00131f;
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: solid 1.5px #eef9ff;
}
.login .contenedor .formulario .inputbox {
  font-size: 0.6em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .contenedor .formulario .inputbox label {
  align-self: self-start;
  font-size: 1em;
  color: #00131f;
  font-weight: 600;
}
.login .contenedor .formulario .inputbox input, .login .contenedor .formulario .inputbox select {
  width: 100%;
  padding: 5px;
  outline: none;
  font-size: 1em;
  color: #eef9ff;
  border-radius: 5px;
  background: rgba(121, 221, 255, 0.8);
  box-shadow: inset 0 0 15px rgba(50, 205, 254, 0.75);
  border: 1px solid rgba(7, 183, 240, 0.5);
}
.login .contenedor .formulario .inputbox input::placeholder, .login .contenedor .formulario .inputbox select::placeholder {
  color: rgba(7, 183, 240, 0.75);
}
.login .contenedor .formulario .inputbox #btn {
  position: relative;
  width: 60%;
  height: "";
  background: linear-gradient(0deg, #30a6ff, #57c4ff);
  border: none;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  color: #eef9ff;
  transition: 0.3s;
}
.login .contenedor .formulario .inputbox #btn:hover {
  transform: scale(1.2);
  color: #ffbc0e;
}
.login .contenedor .formulario p {
  font-size: 0.5em;
}
.login .contenedor .formulario p a {
  font-size: 1em;
}

@media screen and (min-width: 480px) {
  .login {
    font-size: 40px;
  }
  .login .contenedor .formulario {
    padding: 10px;
  }
}
@media screen and (min-width: 768px) {
  .login {
    font-size: 50px;
  }
  .login .contenedor .formulario {
    margin-top: 20px;
    padding: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .login {
    font-size: 40px;
  }
  .login .contenedor {
    padding: 10px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .login .contenedor .img-login {
    display: block;
    width: 60%;
    max-width: 1000px;
    max-height: 620px;
    border: 1px solid #0a1e38;
    border-radius: 10px;
  }
  .login .contenedor .formulario {
    padding: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .login {
    font-size: 45px;
  }
  .login .contenedor {
    justify-content: space-evenly;
  }
}
.vuelo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.vuelo .heading {
  width: 100%;
  height: 2rem;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 5px;
}
.vuelo .heading h1 {
  font-size: 1em;
  font-weight: 600;
  color: #00131f;
  border-bottom: 3px solid #ffbc0e;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 480px) {
  .vuelo .heading {
    font-size: 45px;
  }
}
@media screen and (min-width: 768px) {
  .vuelo .heading {
    padding-top: 0px;
    font-size: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .vuelo .heading {
    font-size: 70px;
  }
}
.vuelo .contenedor-grid {
  margin-top: 10px;
  width: 100%;
  font-size: 1em;
  display: grid;
  justify-content: center;
}
.vuelo .contenedor-grid .caja {
  width: 100%;
  height: fit-content;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}
.vuelo .contenedor-grid .caja .subtitulo {
  font-size: 1em;
  align-self: flex-start;
}
.vuelo .contenedor-grid .caja .subtitulo h2 {
  font-style: italic;
  font-size: 1.1em;
  font-weight: 600;
}
.vuelo .contenedor-grid .caja .subtitulo {
  align-self: center;
}
.vuelo .contenedor-grid .boleto .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(-45deg, #bbe8ff, #8ddbff);
  padding: 10px;
  border: 2px solid #33c0fd;
  border-radius: 20px;
  font-size: 1em;
}
.vuelo .contenedor-grid .boleto .formulario .inputbox {
  font-size: 0.6em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vuelo .contenedor-grid .boleto .formulario .inputbox label {
  align-self: self-start;
  font-size: 1em;
  color: #00131f;
  font-weight: 600;
}
.vuelo .contenedor-grid .boleto .formulario .inputbox input, .vuelo .contenedor-grid .boleto .formulario .inputbox select {
  width: 100%;
  padding: 5px;
  outline: none;
  font-size: 1em;
  color: #eef9ff;
  border-radius: 5px;
  background: rgba(121, 221, 255, 0.8);
  box-shadow: inset 0 0 15px rgba(50, 205, 254, 0.75);
  border: 1px solid rgba(7, 183, 240, 0.5);
}
.vuelo .contenedor-grid .boleto .formulario .inputbox input::placeholder, .vuelo .contenedor-grid .boleto .formulario .inputbox select::placeholder {
  color: rgba(7, 183, 240, 0.75);
}
.vuelo .contenedor-grid .boleto .formulario .inputbox.fechas {
  flex-direction: row;
  justify-content: space-between;
}
.vuelo .contenedor-grid .boleto .formulario .inputbox.fechas .fsalida, .vuelo .contenedor-grid .boleto .formulario .inputbox.fechas .fregreso {
  width: 48%;
  font-size: 1em;
}
.vuelo .contenedor-grid .boleto .formulario .inputbox.cantidad {
  flex-direction: row;
  justify-content: space-between;
}
.vuelo .contenedor-grid .boleto .formulario .inputbox.cantidad .canadultos, .vuelo .contenedor-grid .boleto .formulario .inputbox.cantidad .canninios, .vuelo .contenedor-grid .boleto .formulario .inputbox.cantidad .canbebes {
  width: 32%;
  font-size: 1em;
}
.vuelo .contenedor-grid .capitanes {
  align-items: center;
}
.vuelo .contenedor-grid .capitanes .contenedor-carrusel {
  position: relative;
  width: 90vw;
  height: fit-content;
  overflow: hidden;
  font-size: 1em;
}
.vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel {
  width: 400%;
  height: 100%;
  display: flex;
  font-size: 1em;
}
.vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .usuario, .vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .capitan, .vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .azafata {
  width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
}
.vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .usuario .img, .vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .capitan .img, .vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .azafata .img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 150px;
  display: flex;
  justify-content: center;
}
.vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .usuario .img img, .vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .capitan .img img, .vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .azafata .img img {
  width: 70%;
  border-radius: 50%;
  border: 1px solid #00131f;
}
.vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .usuario p, .vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .capitan p, .vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .azafata p {
  font-size: 0.9em;
  color: #00131f;
}
.vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .usuario .datos, .vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .capitan .datos, .vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .azafata .datos {
  width: 100%;
  font-size: 1em;
}
.vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .usuario .datos ul, .vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .capitan .datos ul, .vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .azafata .datos ul {
  font-size: 1em;
}
.vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .usuario .datos ul li, .vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .capitan .datos ul li, .vuelo .contenedor-grid .capitanes .contenedor-carrusel .carrusel .azafata .datos ul li {
  padding: 5px 0;
  font-size: 0.8em;
  list-style: none;
}
.vuelo .contenedor-grid .capitanes .contenedor-carrusel .btn-izquierda,
.vuelo .contenedor-grid .capitanes .contenedor-carrusel .btn-derecha {
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #00131f;
  transform: translate(0, -50%);
  transition: 0.5s ease;
  user-select: none;
}
.vuelo .contenedor-grid .capitanes .contenedor-carrusel .btn-izquierda:hover,
.vuelo .contenedor-grid .capitanes .contenedor-carrusel .btn-derecha:hover {
  background-color: #8ddbff;
  color: #eef9ff;
}
.vuelo .contenedor-grid .capitanes .contenedor-carrusel .btn-izquierda {
  left: 10px;
}
.vuelo .contenedor-grid .capitanes .contenedor-carrusel .btn-derecha {
  right: 10px;
}
.vuelo .contenedor-grid .azafatas {
  align-items: center;
}
.vuelo .contenedor-grid .azafatas .contenedor-carrusel {
  position: relative;
  width: 90vw;
  height: fit-content;
  overflow: hidden;
  font-size: 1em;
}
.vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel {
  width: 400%;
  height: 100%;
  display: flex;
  font-size: 1em;
}
.vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .usuario, .vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .capitan, .vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .azafata {
  width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
}
.vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .usuario .img, .vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .capitan .img, .vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .azafata .img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 150px;
  display: flex;
  justify-content: center;
}
.vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .usuario .img img, .vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .capitan .img img, .vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .azafata .img img {
  width: 70%;
  border-radius: 50%;
  border: 1px solid #00131f;
}
.vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .usuario p, .vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .capitan p, .vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .azafata p {
  font-size: 0.9em;
  color: #00131f;
}
.vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .usuario .datos, .vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .capitan .datos, .vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .azafata .datos {
  width: 100%;
  font-size: 1em;
}
.vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .usuario .datos ul, .vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .capitan .datos ul, .vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .azafata .datos ul {
  font-size: 1em;
}
.vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .usuario .datos ul li, .vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .capitan .datos ul li, .vuelo .contenedor-grid .azafatas .contenedor-carrusel .carrusel .azafata .datos ul li {
  padding: 5px 0;
  font-size: 0.8em;
  list-style: none;
}
.vuelo .contenedor-grid .azafatas .contenedor-carrusel .btn-izquierda,
.vuelo .contenedor-grid .azafatas .contenedor-carrusel .btn-derecha {
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #00131f;
  transform: translate(0, -50%);
  transition: 0.5s ease;
  user-select: none;
}
.vuelo .contenedor-grid .azafatas .contenedor-carrusel .btn-izquierda:hover,
.vuelo .contenedor-grid .azafatas .contenedor-carrusel .btn-derecha:hover {
  background-color: #8ddbff;
  color: #eef9ff;
}
.vuelo .contenedor-grid .azafatas .contenedor-carrusel .btn-izquierda {
  left: 10px;
}
.vuelo .contenedor-grid .azafatas .contenedor-carrusel .btn-derecha {
  right: 10px;
}

/*# sourceMappingURL=style.css.map */
