@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:wght@300&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

body {
  background-color: #7CB9C3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23154580'/%3E%3Cstop offset='1' stop-color='%237CB9C3'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23598ca5'/%3E%3Cstop offset='1' stop-color='%237CB9C3'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform=''%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform=''%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}

body header p, body main p, body footer p {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 480px) {
  * {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  * {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  * {
    font-size: 45px;
  }
}
@media screen and (min-width: 1200px) {
  * {
    font-size: 60px;
  }
}
header {
  position: fixed;
  width: 100%;
  display: flex;
  transition: 0.7s;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
  z-index: 1;
}
header .logo {
  display: flex;
  cursor: pointer;
}
header .logo img {
  width: 2em;
  height: 2em;
  transition: all 0.3s;
}
header .logo img:hover {
  transform: scale(1.2);
}
header .perfil {
  cursor: pointer;
}
header .perfil img {
  width: 2em;
  height: 2em;
  transition: all 0.3s;
}
header .perfil img:hover {
  transform: scale(1.2);
}
header .perfilf {
  display: none;
  margin: 15px 0;
  z-index: 2;
  cursor: pointer;
}
header .perfilf img {
  width: 2em;
  height: 2em;
  transition: all 0.3s;
}
header .perfilf img:hover {
  transform: scale(1.2);
}
header .nav {
  position: absolute;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: end;
  top: 0;
  right: -280px;
  background-color: #0a1e38;
  padding: 2em;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  transition: 1s;
}
header .nav .cabecera {
  position: absolute;
  padding: 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav .nav-list {
  margin-top: 20%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2em;
}
header .nav .nav-list li:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
header .nav .nav-list li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #ececec;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.7s;
}
header .nav .nav-list li a:hover {
  color: #ffbc0e;
  transition: all 0.3s;
}
header .abrir-menu, header .cerrar-menu {
  display: block;
  border: 0;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
}
header .abrir-menu i, header .cerrar-menu i {
  font-size: 2em;
  color: #ececec;
  transition: 0.1s;
}
header .abrir-menu i:hover {
  font-size: 2.2em;
  color: #ffbc0e;
}
header .cerrar-menu i:hover {
  font-size: 2.2em;
  color: #721009;
}
header.abajo {
  background-color: #154580;
  padding: 15px 10px;
}
header.abajo .nav-list li a {
  color: #ececec;
}
header .nav.visible {
  opacity: 1;
  transform: translate(-280px, 0);
  visibility: visible;
}

@media screen and (min-width: 480px) {
  header {
    padding: 30px 10px;
  }
  header.abajo {
    padding: 25px 15px;
  }
}
@media screen and (min-width: 768px) {
  header.abajo {
    padding: 30px 10px;
  }
  header .logo {
    z-index: 2;
  }
  header .abrir-menu,
  header .cerrar-menu {
    display: none;
  }
  header .nav {
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    box-shadow: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header .nav .perfil {
    display: none;
  }
  header .nav .nav-list {
    position: absolute;
    margin: 0;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header .nav .nav-list li a {
    margin: 0;
    font-size: 0.7em;
  }
  header .perfilf {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding: 30px 20px;
  }
  header.abajo {
    padding: 40px 35px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    padding: 40px 25px;
  }
  header.abajo {
    padding: 45px 35px;
  }
  header .nav .nav-list {
    margin: 0 20px;
  }
}
@media screen and (max-height: 360px) {
  header .nav .nav-list {
    margin-top: 10%;
    gap: 1em;
  }
}
.pie {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-top: 1px solid #04152b;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #154580;
}
.pie .ubicacion, .pie .contactos, .pie .preguntas {
  padding: 5px;
  text-align: center;
  font-size: 20px;
}
.pie .contactos a {
  padding: 0 0.6em;
  font-size: 20px;
}
.pie .contactos a#whatsapp:hover i {
  font-size: 1.2em;
  color: #128C7E;
}
.pie .contactos a#instagram:hover i {
  font-size: 1.2em;
  color: #C13584;
}
.pie .contactos a#github:hover i {
  font-size: 1.2em;
  color: #171515;
}
.pie .contactos a i {
  font-size: 1em;
  color: #fff;
  transition: 0.3s;
}
.pie p:not(#dire) {
  font-size: 1.2em;
  color: #ffbc0e;
  padding: 5px;
  font-weight: 600;
}
.pie p#dire {
  font-size: 1em;
  color: #fff;
}
.pie a#link {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .pie {
    position: relative;
    height: fit-content;
    padding: 30px;
    flex-direction: row;
    justify-content: space-around;
  }
  .pie .ubicacion, .pie .contactos, .pie .preguntas {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .pie {
    font-size: 30px;
  }
  .pie .ubicacion, .pie .contactos, .pie .preguntas {
    font-size: 1em;
  }
  .pie .contactos a {
    font-size: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .pie {
    font-size: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .pie {
    font-size: 40px;
  }
}
.index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index .fondo_Index {
  z-index: -1;
  display: flex;
  width: 100vw;
  height: 70vh;
  min-height: 280px;
  max-height: 320px;
  background-image: url(../assets/Img/Fondo_Index.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: center;
  align-items: end;
  margin-bottom: 1em;
}
.index .fondo_Index h1 {
  font-size: 2rem;
  font-style: italic;
  color: #ffbc0e;
}
.index .comenzar {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index .comenzar button {
  position: relative;
  width: 180px;
  height: 50px;
  background: linear-gradient(0deg, #154580, #206b9a);
  border: none;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #ececec;
  transition: 0.3s;
}
.index .comenzar button:hover {
  transform: scale(1.2);
  color: #ffbc0e;
}
.index .comenzar button:hover a {
  color: #ffbc0e;
}
.index .comenzar button a {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (min-width: 480px) {
  .index .fondo_Index {
    min-height: 460px;
    max-height: 500px;
  }
  .index .comenzar {
    height: 100px;
  }
  .index .comenzar button {
    position: relative;
    width: 250px;
    height: 80px;
    background: linear-gradient(0deg, #154580, #206b9a);
    border: none;
    border-radius: 10px;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #ececec;
    transition: 0.3s;
  }
  .index .comenzar button:hover {
    transform: scale(1.2);
    color: #ffbc0e;
  }
}
@media screen and (min-width: 768px) {
  .index .fondo_Index {
    min-height: 580px;
    max-height: 620px;
  }
  .index .comenzar button {
    width: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .index .fondo_Index {
    width: 100%;
    height: 100%;
    min-width: none;
    max-width: none;
    min-height: 620px;
    max-height: 640px;
  }
}
@media screen and (min-width: 1200px) {
  .index .fondo_Index {
    min-width: none;
    max-width: none;
    min-height: 800px;
    max-height: 840px;
  }
  .index .comenzar button {
    width: 450px;
    height: 100%;
  }
}
.sobre_nosotros {
  padding: 5px;
}
.sobre_nosotros .heading {
  width: 100%;
  height: 2rem;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.sobre_nosotros .heading h1 {
  font-size: 1em;
  font-weight: 600;
  color: #171515;
  border-bottom: 3px solid #ffbc0e;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 480px) {
  .sobre_nosotros .heading {
    font-size: 45px;
  }
}
@media screen and (min-width: 768px) {
  .sobre_nosotros .heading {
    padding-top: 0px;
    font-size: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .sobre_nosotros .heading {
    font-size: 70px;
  }
}
.sobre_nosotros .somos, .sobre_nosotros .equipo, .sobre_nosotros .historia {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1500px;
  margin: auto;
  margin-top: 1rem;
  padding: 10px;
  background-color: #aad8e4;
  border-radius: 10px;
  font-size: 25px;
}
.sobre_nosotros .somos img, .sobre_nosotros .equipo img, .sobre_nosotros .historia img {
  border-radius: 5px;
  border: 0.5px solid black;
}
.sobre_nosotros .somos .texto, .sobre_nosotros .equipo .texto, .sobre_nosotros .historia .texto {
  width: fit-content;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: 500;
  background-color: #7cb9c3;
  gap: 0.1em;
  border-radius: 5px;
}
.sobre_nosotros .somos .texto .subtitulo, .sobre_nosotros .equipo .texto .subtitulo, .sobre_nosotros .historia .texto .subtitulo {
  font-size: 1em;
}
.sobre_nosotros .somos .texto .descripcion, .sobre_nosotros .equipo .texto .descripcion, .sobre_nosotros .historia .texto .descripcion {
  font-size: 0.6em;
}
.sobre_nosotros .somos .texto .descripcion .oculto, .sobre_nosotros .equipo .texto .descripcion .oculto, .sobre_nosotros .historia .texto .descripcion .oculto {
  font-size: 1em;
  display: none;
}
.sobre_nosotros .somos .texto .descripcion .mostrar, .sobre_nosotros .equipo .texto .descripcion .mostrar, .sobre_nosotros .historia .texto .descripcion .mostrar {
  display: block;
}
.sobre_nosotros .somos .texto .mas, .sobre_nosotros .equipo .texto .mas, .sobre_nosotros .historia .texto .mas {
  position: relative;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(0deg, #154580, #206b9a);
  border: none;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #ececec;
  transition: 0.3s;
  padding: 5px 10px;
}
.sobre_nosotros .somos .texto .mas:hover, .sobre_nosotros .equipo .texto .mas:hover, .sobre_nosotros .historia .texto .mas:hover {
  transform: scale(1.2);
  color: #ffbc0e;
}

@media screen and (min-width: 480px) {
  .sobre_nosotros .somos, .sobre_nosotros .equipo, .sobre_nosotros .historia {
    font-size: 35px;
  }
  .sobre_nosotros .somos .texto .mas, .sobre_nosotros .equipo .texto .mas, .sobre_nosotros .historia .texto .mas {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .sobre_nosotros img {
    max-width: 350px;
    max-height: 230px;
  }
  .sobre_nosotros .somos, .sobre_nosotros .equipo, .sobre_nosotros .historia {
    font-size: 35px;
    flex-direction: row;
  }
  .sobre_nosotros .somos .texto, .sobre_nosotros .equipo .texto, .sobre_nosotros .historia .texto {
    display: flex;
    flex-direction: column;
    align-items: self-start;
  }
  .sobre_nosotros .equipo {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1024px) {
  .sobre_nosotros img {
    max-width: 450px;
    max-height: 300px;
  }
  .sobre_nosotros .somos, .sobre_nosotros .equipo, .sobre_nosotros .historia {
    font-size: 40px;
  }
  .sobre_nosotros .somos .texto .mas, .sobre_nosotros .equipo .texto .mas, .sobre_nosotros .historia .texto .mas {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .sobre_nosotros img {
    max-width: 500px;
  }
  .sobre_nosotros .somos .texto .descripcion .oculto, .sobre_nosotros .equipo .texto .descripcion .oculto, .sobre_nosotros .historia .texto .descripcion .oculto {
    display: block;
  }
  .sobre_nosotros .somos .texto .mas, .sobre_nosotros .equipo .texto .mas, .sobre_nosotros .historia .texto .mas {
    display: none;
  }
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 35px;
}
.login .heading {
  width: 100%;
  height: 2rem;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.login .heading h1 {
  font-size: 1em;
  font-weight: 600;
  color: #171515;
  border-bottom: 3px solid #ffbc0e;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 480px) {
  .login .heading {
    font-size: 45px;
  }
}
@media screen and (min-width: 768px) {
  .login .heading {
    padding-top: 0px;
    font-size: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .login .heading {
    font-size: 70px;
  }
}
.login .contenedor {
  font-size: 1em;
  display: flex;
}
.login .contenedor .img-login {
  display: none;
}
.login .contenedor .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aad8e4;
  padding: 5px;
  margin-top: 10px;
  gap: 20px;
  border: 2px solid #7cb9c3;
  border-radius: 20px;
  font-size: 1em;
}
.login .contenedor .formulario img {
  max-width: 200px;
}
.login .contenedor .formulario h2 {
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: solid 1.5px #fff;
}
.login .contenedor .formulario .inputbox {
  font-size: 0.6em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .contenedor .formulario .inputbox label {
  align-self: self-start;
  font-size: 1em;
  font-weight: 600;
}
.login .contenedor .formulario .inputbox input {
  width: 100%;
  padding: 5px;
  outline: none;
  font-size: 1em;
  color: #fff;
  border-radius: 5px;
  background: rgba(143, 184, 192, 0.8);
  box-shadow: inset 0 0 15px rgba(129, 171, 178, 0.75);
  border: 1px solid rgba(85, 119, 125, 0.5);
}
.login .contenedor .formulario .inputbox::placeholder {
  color: rgba(85, 119, 125, 0.5);
}
.login .contenedor .formulario .inputbox #btn {
  position: relative;
  width: 60%;
  height: "";
  background: linear-gradient(0deg, #24597c, #217697);
  border: none;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  color: #ececec;
  transition: 0.3s;
}
.login .contenedor .formulario .inputbox #btn:hover {
  transform: scale(1.2);
  color: #ffbc0e;
}
.login .contenedor .formulario p {
  font-size: 0.5em;
}
.login .contenedor .formulario p a {
  font-size: 1em;
}

@media screen and (min-width: 480px) {
  .login {
    font-size: 40px;
  }
  .login .contenedor .formulario {
    padding: 10px;
  }
}
@media screen and (min-width: 768px) {
  .login {
    font-size: 50px;
  }
  .login .contenedor .formulario {
    margin-top: 20px;
    padding: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .login {
    font-size: 40px;
  }
  .login .contenedor {
    padding: 10px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .login .contenedor .img-login {
    display: block;
    width: 60%;
    max-width: 1000px;
    max-height: 620px;
    border: 1px solid #0a1e38;
    border-radius: 10px;
  }
  .login .contenedor .formulario {
    padding: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .login {
    font-size: 45px;
  }
  .login .contenedor {
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
