@import '../Utilities/variables';

@import '../Components/button';

@import '../Breakpoints/medidas';

.index{
    display: flex;
    flex-direction: column;
    align-items: center;

    .fondo_Index{
        z-index: -1;
        display: flex;
        width: 100vw;
        height: 70vh;
        min-height: 280px;
        max-height: 320px;
        background-image: url(../assets/Img/Fondo_Index.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        justify-content: center;
        align-items: end;
        margin-bottom: 1em;

        h1{
            font-size: 2rem;
            font-style: italic;
            color: $amarillo;
        }
    }

    .comenzar{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;

        button{
            @include button-style(180px,50px);

            &:hover a{
                color: $amarillo;
            }

            a{
                width: 100%;
                height: 100%;
                color: #fff;
                text-align: center;
                font-size: 1rem;
                font-weight: 600;
                text-decoration: none;
                transition: .3s;
            }
        }
    }
}

// ---------- TABLET ----------

@include desde(480px){
    .index{
        .fondo_Index{
            min-height: 460px;
            max-height: 500px;
        }

        .comenzar{
            height: 100px;

            button{
                @include button-style(250px,80px);
            }
        }
    }
}

// ---------- TABLET ----------

// ----- TABLET DE COSTADO ----

@include desde(768px){
    .index{
        .fondo_Index{
            min-height: 600px;
            max-height: 650px;
        }

        .comenzar{
            button{
                width: 300px;
            }
        }
    }
}

// ----- TABLET DE COSTADO ----

// --------- NOTEBOOK ---------

@include desde(1024px){
    .index{
        .fondo_Index{
            width: 100%;
            height: 100%;
            min-height: 650px;
            max-height: 700px;
        }
    }
}

// --------- NOTEBOOK ---------

// -------- ESCRITORIO --------

@include desde(1200px){
    .index{
        .fondo_Index{
            min-height: 800px;
            max-height: 850px;
        }

        .comenzar{

            button{
                width: 450px;
                height: 100%;
            }
        }
    }
}

// -------- ESCRITORIO --------