@import '../Utilities/variables';
@import '../Utilities/mixin';

@import '../Components/input';
@import '../Components/button';

@import '../Breakpoints/medidas';

.vuelo{
    font-size: 20px;

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        font-size: 1em;
    
        @include titulo();

        @include grid(){

            .caja{
                padding: 10px 0;
                border-bottom: 1px solid $negro;

                .subtitulo{
                    align-self: center;
                }
            }

            .boleto{

                .formulario{
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: 2px solid #33c0fd;
                    border-radius: 10px;
                    font-size: 1em;

                    @include input(){
                        &.fechas{
                            flex-direction: row;
                            justify-content: space-between;

                            .fsalida, .fregreso{
                                width: 48%;
                                font-size: 1em;
                            }
                        }

                        &.cantidad{
                            flex-direction: row;
                            justify-content: space-between;

                            .canadultos,.canninios,.canbebes{
                                width: 32%;
                                font-size: 1em;
                            }
                        }
                        
                    };
                }
            }

            .capitanes{
                align-items: center;

                @include slider(){
                    
                    .datos{
                        width: 100%;
                        font-size: 1em;

                        ul{
                            font-size: 1em;

                            li{
                                padding: 5px 0;
                                font-size: .7em;
                                list-style: none;
                            }
                        }
                    }

                }

            }

            .azafatas{
                align-items: center;

                @include slider(){
                    
                    .datos{
                        width: 100%;
                        font-size: 1em;

                        ul{
                            font-size: 1em;

                            li{
                                padding: 5px 0;
                                font-size: .7em;
                                list-style: none;
                            }
                        }
                    }

                }

            }

            .compra{
                border: none;

                .formulario{
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px;
                    font-size: 1em;
                    gap: .3em;


                    @include input(){
                        #btn{
                            margin-top: 10px;
                            @include button-style(100%,"",#30a6ff,#57c4ff,1em);
                        }
                    };
                }
            }
        }
    }
    
}

// ---------- TABLET ----------

@include desde(480px){
    
    .vuelo{
        font-size: 26px;

        form{
    
            @include grid(){
    
                .caja{
    
                    .subtitulo{
                        align-self: center;
                    }
                }

                .capitanes{

                    @include slider(){
                        
                        .img{
                            max-width: 300px;
                            max-height: 250px;
                        }
    
                    }
    
                }
    
                .azafatas{
    
                    @include slider(){
                        
                        .img{
                            max-width: 300px;
                            max-height: 250px;
                        }
    
                    }
    
                }

                .compra{
    
                    .formulario{

                        @include input(){
                            #btn{
                                margin-top: 20px;
                                max-width: 200px;
                                align-self: flex-end
                            }
                        };
                    }
                }
    
            }
        }
        
    }

}

// ---------- TABLET ----------


// ----- TABLET DE COSTADO ----

@include desde(768px){
    
    .vuelo{
        font-size: 30px;

        form{
            padding: 0 20px;

            @include grid(){
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;

                .caja{
                    border-bottom: 2px solid $negro;

                    .subtitulo{
                        align-self: center;
                    }
                }

                .boleto{
                    grid-column: 1/4;
                }

                .capitanes{
                    border-right: 2px solid $negro;

                    @include slider(){

                        .datos{
                            width: 90%;
                        }

                        .img{
                            max-width: 250px;
                            max-height: 200px;
                        }
    
                    }

                    .contenedor-carrusel{
                        width: 44vw;

                        
                        .btn-izquierda{
                            left: -10px;
                        }
                
                        .btn-derecha{
                            right: -10px;
                        }
                    }
    
                }
    
                .azafatas{
    
                    @include slider(){
                        
                        .datos{
                            width: 90%;
                        }

                        .img{
                            max-width: 250px;
                            max-height: 200px;
                        }
    
                    }

                    .contenedor-carrusel{
                        width: 44vw;

                        .btn-izquierda{
                            left: -10px;
                        }
                
                        .btn-derecha{
                            right: -10px;
                        }
                    }
    
                }

                .compra{
                    grid-column: 1/4;
                    border: none;
                }

    
            }
        }
        
    }

}

// ----- TABLET DE COSTADO ----


// --------- NOTEBOOK ---------

@include desde(1024px){
    
    .vuelo{
        font-size: 36px;

        form{
            padding: 0 15px;

            @include grid(){
                grid-template-columns: 1fr 1fr 1fr;

                .caja{
                    border-bottom: none;
                    padding: 20px;

                    .subtitulo{
                        align-self: center;
                    }
                }

                .boleto{
                    grid-column: 1/5;
                    border-bottom: 2px solid $negro;
                }

                .capitanes{
                    border-right: 2px solid $negro;

                    @include slider(){

                        .datos{
                            width: 80%;
                        }
                    }

                    .contenedor-carrusel{
                        width: 32vw;

                        
                        .btn-izquierda{
                            left: 0px;
                        }
                
                        .btn-derecha{
                            right: 0px;
                        }
                    }
    
                }
    
                .azafatas{
                    border-right: 2px solid $negro;

                    @include slider(){

                        .datos{
                            width: 80%;
                        }
                    }
                    
                    .contenedor-carrusel{
                        width: 32vw;

                        .btn-izquierda{
                            left: 0px;
                        }
                
                        .btn-derecha{
                            right: 0px;
                        }
                    }
    
                }

                .compra{
                    grid-column: auto;

                    .formulario{
                        padding: 11px;

                        @include input(){
                            
                        };
                    }
                }
    
            }
        }
        
    }

}

// --------- NOTEBOOK ---------


// -------- ESCRITORIO --------

@include desde(1200px){
    .vuelo{
        font-size: 40px;
    }
}

// -------- ESCRITORIO --------