@import '../Breakpoints/medidas';
@import 'variables';

@mixin titulo(){
    .heading{
        width: 100%;
        height: 2rem;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-bottom: 5px;

        h1{
            font-size: 1em;
            font-weight: 600;
            color: $negro;
            border-bottom: 3px solid $amarillo;
            margin-bottom: .5rem;
        }
    }

    @include desde(480px){
        .heading{
            font-size: 45px;
        }
    }
    
    @include desde(768px){
        .heading{
            padding-top: 0px;
            font-size: 60px;
        }  
    }
    
    @include desde(1200px){
            .heading{
                font-size: 70px;
            } 
    }
}

@mixin grid(){
    .contenedor-grid{
        margin-top: 10px;
        width: 100%;
        font-size: 1em;
        display: grid;
        justify-content: center;

        .caja{
            width: 100%;
            height: fit-content;
            font-size: 1em;
            display: flex;
            flex-direction: column;

            .subtitulo{
                font-size: 1em;
                align-self: flex-start;

                h2{
                    font-style: italic;
                    font-size: 1.1em;
                    font-weight: 600;
                }
            }
        }
        @content;
    }
}


