@import '../Breakpoints/medidas';
@import 'variables';

@mixin titulo(){
    .heading{
        width: 100%;
        height: 2rem;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-bottom: 5px;

        h1{
            font-size: 1em;
            font-weight: 600;
            color: $negro;
            border-bottom: 3px solid $amarillo;
            margin-bottom: .5rem;
        }

    }

    @include desde(480px){
        .heading{
            font-size: 45px;
        }
    }
    
    @include desde(768px){
        .heading{
            padding-top: 0px;
            font-size: 60px;
        }  
    }
    
    @include desde(1200px){
            .heading{
                font-size: 70px;
            } 
    }
}

@mixin grid(){
    .contenedor-grid{
        margin-top: 10px;
        width: 100%;
        font-size: 1em;
        display: grid;
        justify-content: center;

        .caja{
            width: 100%;
            height: fit-content;
            font-size: 1em;
            display: flex;
            flex-direction: column;

            .subtitulo{
                font-size: 1em;
                align-self: flex-start;

                h2{
                    font-style: italic;
                    font-size: 1.1em;
                    font-weight: 600;
                }
            }
        }
        @content;
    }
}

@mixin slider(){
    .contenedor-carrusel{
        position: relative;
        width: 90vw;
        height: fit-content;
        overflow: hidden;
        font-size: 1em;

        .carrusel{
            width: 400%;
            height: 100%;
            display: flex;
            font-size: 1em;

            .usuario,.capitan,.azafata{
                width: calc(100% / 4);
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1em;
                
                .img{
                    width: 100%;
                    height: 100%;
                    max-width: 200px;
                    max-height: 150px;
                    display: flex;
                    justify-content: center;

                    img{
                        width: 70%;
                        border-radius: 50%;
                        border: 1px solid $negro;
                    }
                }
                
                p{
                    font-size: .9em;
                    color: $negro;
                }

                @content;

            }
        }

        .btn-izquierda,
        .btn-derecha{
            display: flex;
            position: absolute;
            top: 50%;
            font-size: 1.5rem;
            background-color: transparent;
            border-radius: 50%;
            padding: 5px;
            font-weight: 600;
            cursor: pointer;
            color: $negro;
            transform: translate(0,-50%);
            transition: .5s ease;
            user-select: none;

            &:hover{
                background-color: $celeste1;
                color: $blanco;
            }
        }

        .btn-izquierda{
            left: 10px;
        }

        .btn-derecha{
            right: 10px;
        }
    }
}


