// ---------- COLORES GENERALES ---------- 

$amarillo : #ffbc0e;
// $azul : #154580;
$azul : #1271e3;

$azul2: #133058;
// $celeste1: #aad8e4;
$celeste1:#8ddbff;
// $celeste2: #7cb9c3;
$celeste2:#bbe8ff;

$btn-bg1: #30a6ff;

$btn-bg2: #57c4ff;

$blanco: #eef9ff;

$negro: #00131f;

// ---------- COLORES GENERALES ---------- 