@import '../Utilities/variables';

@mixin button-style($ancho:fit-content,$alto:fit-content,$bg1:$btn-bg1,$bg2:$btn-bg2,$fsize:16px){
    position: relative;
    width: $ancho;
    height: $alto;
    background: linear-gradient(0deg,$bg1,$bg2);
    border: none;
    border-radius: 10px;
    box-shadow: none;
    cursor: pointer;
    font-size: $fsize;
    font-weight: 500;
    color: $blanco;
    transition: .3s;

    &:hover{
        transform: scale(1.2);
        color: $amarillo;
    }
}