@import '../Utilities/variables';

@mixin input(){
    .inputbox{
        font-size: .6em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        label{
            align-self: self-start;
            font-size: 1em;
            color: $negro;
            font-weight: 600;
        }

        input, select{
            width: 100%;
            padding: 5px;
            outline: none;
            font-size: 1em;
            color: $blanco;
            border-radius: 5px;
            background: rgba(#79ddff,.8);
            box-shadow: inset 0 0 15px rgba(#32cdfe,.75);
            border: 1px solid rgba(#07b7f0,.5);

            &::placeholder{
                color: rgba(#07b7f0,.75);
            }
        }

        @content;
    }
}